<!-- Site réalisé par Damien HEBERT damienhebert.fr -->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}{% if block('title') %} | {% endif %}Les Archers de Caen</title>

        <link rel="icon" href="/favicon/16x16.png" sizes="16x16">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="header-secondary">
                <div class="header-content">
                    <ul>
                        <li><a href="{{ path(constant('App\\Http\\Landing\\Controller\\Page\\ContactController::ROUTE')) }}">Contact</a></li>
                        <li><a href="{{ path(constant('App\\Http\\Landing\\Controller\\IndexController::ROUTE')) }}">Revenir au site</a></li>
                        <li><a href="{{ path(constant('App\\Http\\Admin\\Controller\\DashboardController::ROUTE')) }}">Admin</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-primary">
                <div class="header-content">
                    <a href="{{ path('landing_index') }}" class="header-image">
                        <img src="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.svg') }}" alt="Logo des archers de Caen">
                    </a>
                    <ul>
                    </ul>
                    <div class="menu-responsive-btn hamburger-menu">
                        <div class="hamburger-menu-bar"></div>
                        <div class="hamburger-menu-bar"></div>
                        <div class="hamburger-menu-bar"></div>
                    </div>
                </div>
            </div>
        </header>

        <div class="body">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
