{% block gallery_row %}
    <div id="gallery-form" class="gallery-form">
        <div class="form-group">
            <label for="gallery-photo" class="form-control-label">{{ form.vars.label }}</label>
            <div class="form-widget">
                <input id="gallery-photo" type="file" multiple class="form-control" />
            </div>
            <output class="gallery-photo-previews">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Url</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in form.vars.data %}
                            <tr class="gallery-photo-preview" data-photo-token="{{ data.token }}">
                                <td>{{ data.imageOriginalName }}</td>
                                <td>
                                    {% set url = absolute_url(vich_uploader_asset(data, 'imageFile')) %}

                                    <div class="photo-preview">
                                        <a href="{{ url }}">{{ url }}</a>
                                        <img
                                            src="{{ url }}"
                                            loading="lazy"
                                            alt="preview {{ data.imageOriginalName }}"
                                        >
                                    </div>
                                </td>
                                <td>
                                    <i class="fa fa-trash"></i>
                                </td>
                            </tr>

                            <input type="hidden" name="{{ form.vars.full_name }}[]" value="{{ data.token }}">
                        {% endfor %}
                    </tbody>
                </table>
            </output>
        </div>

        <input type="hidden" value="{{ form.vars.full_name }}" class="gallery-input-name">
    </div>
{% endblock %}
