{% extends '/landing/base.html.twig' %}

{% block title %}Jeu de l'été - Envoie des réslutats{% endblock %}

{% block main %}
    {{ form_start(form) }}
    {{ form_row(form.archer) }}
    {{ form_row(form.weapon) }}
    {{ form_row(form.category) }}
    {{ form_row(form.score) }}
    {{ form_row(form.completionDate) }}
    {{ form_row(form.scoreSheet) }}

    <div class="flex jc-end mt-5">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}

    <a href="{{ path(constant('App\\Http\\Landing\\Controller\\Results\\JeuDeEteController::ROUTE_RESULT')) }}"
       class="highlighted mt-5"
    >
        <i class="fas fa-arrow-left"></i>
        Retour aux résultats
    </a>
{% endblock %}

