{% extends '/landing/base.html.twig' %}

{% from '/shared/components/thumbnail.html.twig' import thumbnail %}

{% block title %}Résultats des fleches de progression{% endblock %}

{% block main %}
    <div class="page-content">
        <p>
            Les flèches de progression sont des badges accordés aux archers ayant réussi l’examen du « passage de flèches ». <br>
            Elles symbolisent la progression de l’archer au fil de son entraînement.
        </p>

        <p>
            Il existe 8 flèches différentes, 5 en intérieur (blanche, noire, bleue, rouge, jaune) et 3 en extérieur (bronze, argent et or)
        </p>

        <div class="switch mt-3">
            <div class="choice">
                <input type="radio" id="period-before-2006" name="switch-period" checked value="before-2006"/>
                <label for="period-before-2006">Jusqu’au 31/12/2005</label>
            </div>
            <div class="choice">
                <input type="radio" id="period-before-2016" name="switch-period" value="before-2016"/>
                <label for="period-before-2016">Jusqu’au 31/08/2016</label>
            </div>
            <div class="choice">
                <input type="radio" id="period-after-2016" name="switch-period" value="after-2016"/>
                <label for="period-after-2016">Depuis le 01/09/2016</label>
            </div>
        </div>

        <table class="--center">
            <thead>
                <tr>
                    <th rowspan="3">Flèche</th>
                    <th colspan="4">Conditions d’obtention</th>
                </tr>
                <tr>
                    <th colspan="4" data-period="before-2006">Jusqu’au 31/12/2005</th>
                    <th colspan="4" data-period="before-2016">Jusqu’au 31/08/2016</th>
                    <th colspan="4" data-period="after-2016">Depuis le 01/09/2016</th>
                </tr>
                <tr>
                    <th>Distance</th>
                    <th>Score requis</th>
                    <th>Nb. flèches</th>
                    <th>Blason</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Blanche
                        <br>
                        <img loading="lazy" src="{{ asset('build/images/progress-arrow/white.webp') }}" alt="" width="130" height="38">
                    </td>

                    <td data-period="before-2006">10 m</td>
                    <td data-period="before-2006">140</td>
                    <td data-period="before-2006">6 x 3</td>
                    <td data-period="before-2006">Ø 80</td>

                    <td data-period="before-2016">10 m</td>
                    <td data-period="before-2016">140</td>
                    <td data-period="before-2016">6 x 3</td>
                    <td data-period="before-2016">Ø 80</td>

                    <td data-period="after-2016">10 m</td>
                    <td data-period="after-2016">280</td>
                    <td data-period="after-2016">6 x 6</td>
                    <td data-period="after-2016">Ø 80</td>
                </tr>
                <tr>
                    <td>
                        Noire
                        <br>
                        <img loading="lazy" src="{{ asset('build/images/progress-arrow/black.webp') }}" alt="" width="129" height="39">
                    </td>

                    <td data-period="before-2006">15 m</td>
                    <td data-period="before-2006">140</td>
                    <td data-period="before-2006">6 x 3</td>
                    <td data-period="before-2006">Ø 80</td>

                    <td data-period="before-2016">15 m</td>
                    <td data-period="before-2016">140</td>
                    <td data-period="before-2016">6 x 3</td>
                    <td data-period="before-2016">Ø 80</td>

                    <td data-period="after-2016">15 m</td>
                    <td data-period="after-2016">280</td>
                    <td data-period="after-2016">6 x 6</td>
                    <td data-period="after-2016">Ø 80</td>
                </tr>
                <tr>
                    <td>
                        Bleue
                        <br>
                        <img loading="lazy" src="{{ asset('build/images/progress-arrow/blue.webp') }}" alt="" width="129" height="39">
                    </td>

                    <td data-period="before-2006">20 m</td>
                    <td data-period="before-2006">140</td>
                    <td data-period="before-2006">6 x 3</td>
                    <td data-period="before-2006">Ø 80</td>

                    <td data-period="before-2016">20 m</td>
                    <td data-period="before-2016">140</td>
                    <td data-period="before-2016">6 x 3</td>
                    <td data-period="before-2016">Ø 80</td>

                    <td data-period="after-2016">20 m</td>
                    <td data-period="after-2016">280</td>
                    <td data-period="after-2016">6 x 6</td>
                    <td data-period="after-2016">Ø 80</td>
                </tr>
                <tr>
                    <td>
                        Rouge
                        <br>
                        <img loading="lazy" src="{{ asset('build/images/progress-arrow/red.webp') }}" alt="" width="129" height="39">
                    </td>

                    <td data-period="before-2006">25 m</td>
                    <td data-period="before-2006">140</td>
                    <td data-period="before-2006">6 x 3</td>
                    <td data-period="before-2006">Ø 80</td>

                    <td data-period="before-2016">25 m</td>
                    <td data-period="before-2016">140</td>
                    <td data-period="before-2016">6 x 3</td>
                    <td data-period="before-2016">Ø 80</td>

                    <td data-period="after-2016">25 m</td>
                    <td data-period="after-2016">280</td>
                    <td data-period="after-2016">6 x 6</td>
                    <td data-period="after-2016">Ø 80</td>
                </tr>
                <tr>
                    <td>
                        Jaune
                        <br>
                        <img loading="lazy" src="{{ asset('build/images/progress-arrow/yellow.webp') }}" alt="" width="129" height="39">
                    </td>

                    <td data-period="before-2006">30 m</td>
                    <td data-period="before-2006">140</td>
                    <td data-period="before-2006">6 x 3</td>
                    <td data-period="before-2006">Ø 80</td>

                    <td data-period="before-2016">30 m</td>
                    <td data-period="before-2016">140</td>
                    <td data-period="before-2016">6 x 3</td>
                    <td data-period="before-2016">Ø 80</td>

                    <td data-period="after-2016">30 m</td>
                    <td data-period="after-2016">280</td>
                    <td data-period="after-2016">6 x 6</td>
                    <td data-period="after-2016">Ø 80</td>
                </tr>
                <tr>
                    <td rowspan="3">Bronze<br><img loading="lazy" src="{{ asset('build/images/progress-arrow/bronze.webp') }}" alt="" width="146" height="46"></td>

                    <td rowspan="3" data-period="before-2006">45 + 35 + 25 m</td>
                    <td rowspan="2" data-period="before-2006">CL/BB : 430</td>
                    <td rowspan="3" data-period="before-2006">3 x 18</td>
                    <td rowspan="3" data-period="before-2006">Ø 122</td>

                    <td rowspan="3" data-period="before-2016">30 m</td>
                    <td rowspan="3" data-period="before-2016">310</td>
                    <td rowspan="3" data-period="before-2016">6 x 6</td>
                    <td rowspan="3" data-period="before-2016">Ø 122</td>

                    <td rowspan="3" data-period="after-2016">40 m</td>
                    <td rowspan="2" data-period="after-2016">280</td>
                    <td rowspan="3" data-period="after-2016">6 x 6</td>
                    <td rowspan="2" data-period="after-2016">Ø 80</td>
                </tr>
                <tr></tr>
                <tr>
                    <td data-period="before-2006">CO : 460</td>

                    <td data-period="after-2016">310</td>
                    <td data-period="after-2016">Ø 80 FITA</td>
                </tr>
                <tr>
                    <td rowspan="3">Argent<br><img loading="lazy" src="{{ asset('build/images/progress-arrow/silver.webp') }}" alt="" width="142" height="44" class="alignnone wp-image-742"></td>

                    <td rowspan="3" data-period="before-2006">55 + 45 + 35 m</td>
                    <td rowspan="2" data-period="before-2006">CL/BB : 430</td>
                    <td rowspan="3" data-period="before-2006">3 x 18</td>
                    <td rowspan="3" data-period="before-2006">Ø 122</td>

                    <td rowspan="3" data-period="before-2016">50 m</td>
                    <td rowspan="3" data-period="before-2016">310</td>
                    <td rowspan="3" data-period="before-2016">6 x 6</td>
                    <td rowspan="3" data-period="before-2016">Ø 122</td>

                    <td rowspan="2" data-period="after-2016">60 m</td>
                    <td rowspan="2" data-period="after-2016">280</td>
                    <td rowspan="3" data-period="after-2016">6 x 6</td>
                    <td rowspan="2" data-period="after-2016">Ø 122</td>
                </tr>
                <tr></tr>
                <tr>
                    <td data-period="before-2006">CO : 460</td>

                    <td data-period="after-2016">50 m</td>
                    <td data-period="after-2016">310</td>
                    <td data-period="after-2016">Ø 80 FITA</td>
                </tr>
                <tr>
                    <td rowspan="3">Or<br><img loading="lazy" src="{{ asset('build/images/progress-arrow/gold.webp') }}" alt="" width="146" height="46"></td>

                    <td rowspan="3" data-period="before-2006">65 + 55 + 45 m</td>
                    <td rowspan="2" data-period="before-2006">CL/BB : 430</td>
                    <td rowspan="3" data-period="before-2006">3 x 12</td>
                    <td rowspan="3" data-period="before-2006">Ø 122</td>

                    <td rowspan="3" data-period="before-2016">70 m</td>
                    <td rowspan="3" data-period="before-2016">310</td>
                    <td rowspan="3" data-period="before-2016">6 x 6</td>
                    <td rowspan="3" data-period="before-2016">Ø 122</td>

                    <td rowspan="2" data-period="after-2016">70 m</td>
                    <td rowspan="2" data-period="after-2016">280</td>
                    <td rowspan="3" data-period="after-2016">6 x 6</td>
                    <td rowspan="2" data-period="after-2016">Ø 122</td>
                </tr>
                <tr></tr>
                <tr>
                    <td data-period="before-2006">CO : 460</td>

                    <td data-period="after-2016">50 m</td>
                    <td data-period="after-2016">330</td>
                    <td data-period="after-2016">Ø 80 FITA</td>
                </tr>
            </tbody>
        </table>

        <div class="border --rounded p-4">
            {{ form_start(filterForm) }}

            {{ form_row(filterForm.onlyArcherLicenced, { row_attr: { class: '--check' } }) }}

            <div class="flex jc-end --gap-1 mt-2">
                {{ form_row(filterForm.reset) }}
                {{ form_row(filterForm.submit) }}
            </div>

            {{ form_end(filterForm) }}
        </div>

        <h3>Flèches obtenues par archer</h3>

        <div class="list-container">
            <table class="list">
                <thead class="--header-sticky">
                    <tr>
                        <th>Archer</th>
                        {% for progressArrow in progressArrows %}
                            <th>{{ progressArrow.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {# @var archers \App\Domain\Archer\Model\Archer[] #}
                {% for archer in archers %}
                    <tr>
                        <td>
                            <a href="{{ path(constant('App\\Http\\Landing\\Controller\\Archer\\ArcherRecapController::ROUTE'), { licenseNumber: archer.licenseNumber }) }}">
                                {{ archer.fullName }}
                            </a>
                        </td>

                        {% for progressArrow in progressArrows %}
                            {% set result = archer.resultsProgressArrow|filter(result => progressArrow == result.badge) %}

                            <td>
                                {% if result|length %}
                                    {{ result|first.score }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ progressArrows|length + 1 }}">
                            Aucun résultat
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript_footer %}
    <script>
        function togglePeriod(value) {
            document.querySelectorAll('td[data-period], th[data-period]').forEach((element) => {
                hide(element)

                if (element.getAttribute('data-period') === value) {
                    show(element, 'revert')
                }
            })
        }

        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll('input[name=switch-period]').forEach((input) => {
                input.addEventListener('change', (event) => {
                    togglePeriod(event.currentTarget.value)
                })
            })

            togglePeriod(document.querySelector('input[name=switch-period]:checked').value)
        })
    </script>
{% endblock javascript_footer %}
