{# @var resultRecords \App\Domain\Result\Model\ResultCompetition[] #}

{% extends '/landing/base.html.twig' %}

{% block title %}Records des archers du club{% endblock %}

{% block main %}
    <div class="border --rounded p-4">
        {{ form_start(filterForm) }}

        <div class="flex jc-space-between">
            {{ form_row(filterForm.weapon) }}
            {{ form_row(filterForm.type) }}
        </div>

        {{ form_row(filterForm.onlyArcherLicenced, { row_attr: { class: '--check' } }) }}

        <div class="flex jc-end --gap-1 mt-2">
            {{ form_row(filterForm.reset) }}
            {{ form_row(filterForm.submit) }}
        </div>

        {{ form_end(filterForm) }}
    </div>

    <hr class="my-5">

    <div class="page-content result-badges-page">
        <table class="list results w-100">
            <caption>Records des Archers de Caen</caption>

            <thead class="--header-sticky">
                <tr>
                    <th></th>
                    <th>Archer</th>
                    <th>Catégorie</th>
                    <th>Arme</th>
                    <th>Type</th>
                    <th>Date et Lieu</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for result in resultRecords %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            <a href="{{ path(constant('App\\Http\\Landing\\Controller\\Archer\\ArcherRecapController::ROUTE'), { licenseNumber: result.archer.licenseNumber }) }}"
                               target="_parent"
                            >
                                {{ result.archer.fullName }}
                            </a>
                        </td>
                        <td>
                            {{ result.category.value|trans([], 'archer') }}
                        </td>
                        <td>
                            {{ result.weapon.name|trans([], 'archer') }}
                        </td>
                        <td>
                            {{ result.competition.type.name|trans([], 'competition') }}
                        </td>
                        <td>
                            <a href="{{ path(constant('App\\Http\\Landing\\Controller\\Results\\CompetitionController::ROUTE'), { slug: result.competition.slug }) }}"
                               target="_parent"
                            >
                                Le {{ result.completionDate|date('d/m/Y') }} à {{ result.competition.location }}
                            </a>
                        </td>
                        <td>
                            {{ result.score }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucun record dans cette catégorie</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
