{% extends '/landing/base.html.twig' %}

{% block title %}Distinctions Federales{% endblock %}

{% block main %}
    <div class="border --rounded p-4">
        {{ form_start(filterForm) }}

        <div class="flex jc-space-between">
            {{ form_row(filterForm.weapon) }}
            {{ form_row(filterForm.badge) }}
        </div>

        {{ form_row(filterForm.onlyArcherLicenced, { row_attr: { class: '--check' } }) }}

        <div class="flex jc-end --gap-1 mt-2">
            {{ form_row(filterForm.reset) }}
            {{ form_row(filterForm.submit) }}
        </div>

        {{ form_end(filterForm) }}
    </div>

    <hr class="my-5">

    <div class="page-content result-badges-page">
        <table class="list results w-100">
            <caption>DISTINCTIONS FEDERALES</caption>

            <thead class="--header-sticky">
            <tr>
                <th>Badge</th>
                <th>Archer</th>
                <th>Arme</th>
                <th>Date</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            {% for result in resultBadges %}
                <tr>
                    <td>{{ result.badge }}</td>
                    <td>{{ result.archer.fullName }}</td>
                    <td>{{ result.weapon.name|trans([], 'archer') }}</td>
                    <td>{{ result.completionDate|date('d/m/Y') }}</td>
                    <td>{{ result.score }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune obtention de badge dans cette catégorie</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

