{% macro pages(pages) %}
    <div class="thumbnails">
        {% for page in pages %}
            {% set route = constant('App\\Http\\Landing\\Controller\\Page\\PageController::ROUTE') %}
            {% if page.category.value == 'actuality' %}
                {% set route = constant('App\\Http\\Landing\\Controller\\Actuality\\ActualityController::ROUTE') %}
            {% endif %}

            <a class="thumbnail" href="{{ path(route , { slug: page.slug }) }}" title="{{ page.title }}">
                <img
                    src="{{ page.image is defined and page.image ? page.image|imagine_filter('thumbnail_medium') : asset('build/images/photo/cible.webp') }}"
                    alt="Photo de la page: {{ page.title }}"
                >
                <p>{{ page.title }}</p>
            </a>
        {% endfor %}
    </div>
{% endmacro %}
