{% macro pages(pages) %}
    <div class="thumbnails">
        {% for page in pages %}
            {% set route = constant('App\\Http\\Landing\\Controller\\PageController::ROUTE_LANDING_PAGE') %}
            {% if page.category.value == 'actuality' %}
                {% set route = constant('App\\Http\\Landing\\Controller\\ActualitiesController::ROUTE_LANDING_ACTUALITY') %}
            {% endif %}

            <a class="thumbnail -horizontal" href="{{ path(route , { slug: page.slug }) }}" title="{{ page.title }}">
                <header>
                    <img
                        src="{{ page.image is defined and page.image ? page.image|imagine_filter('thumbnail') : asset('build/images/photo/cible.jpg') }}"
                        alt="Photo de la page: {{ page.title }}"
                    >
                </header>
                <footer>
                    <p>{{ page.title }}</p>
                </footer>
            </a>
        {% endfor %}
    </div>
{% endmacro %}
