{% if results|length %}

    <h2>Résultat individuel</h2>

    {% for weapon, categories in results %}

        <h3>{{ weapon|trans({}, 'archer') }}</h3>

        {% for gender, category in categories %}

            <h4>{{ gender|trans({short: false}, 'archer') }}</h4>

            <table>
            <thead class="highlighted">
                <tr>
                    <th>Categories</th>
                    <th>Archer</th>
                    <th>Score</th>
                    <th>Classement</th>
                </tr>
            </thead>

            <tbody>
                {% for categoryValue, results in category %}
                    {% for result in results %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ results|length }}">
                                    {{ categoryValue|trans({}, 'archer') }}
                                </td>
                            {% endif %}

                            <td>
                                <p>
                                    <a href="{{ path(constant('App\\Http\\Landing\\Controller\\ArcherController::ROUTE_LANDING_ARCHER'), { licenseNumber: result.archer.licenseNumber }) }}"
                                       target="_parent"
                                    >
                                        {{ result.archer.fullName }}
                                    </a>
                                </p>
                            </td>
                            <td>
                                {{ result.score }}
                            </td>
                            <td>
                                <div class="flex jc-space-between">
                                    {% if result.rank != 0 %}
                                        <p>
                                            {{ result.rank }}<sup>{% if result.rank == 1 %}er{% else %}e{% endif %}</sup>
                                        </p>
                                    {% endif %}

                                    <span>
                                        {% if result.onThePodium %}
                                            <i class="text-small">Podium</i>{% if result.record %}, {% endif %}
                                        {% endif %}

                                        {% if result.record %}
                                            <i class="text-small">Record personnel</i>
                                        {% endif %}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        {% endfor %}

        <div class="text-right">
            <p>
                Bilan: {{ participantCount }} participant{% if participantCount > 1%}s{% endif%},
                {{ recordCount }} record{% if recordCount > 1%}s{% endif%},
                {{ podiumCount }} podium{% if podiumCount > 1%}s{% endif%}
            </p>
        </div>
    {% endfor %}

{% endif %}

{% if competition.resultsTeams|length %}

    <h2>Résultat en équipe</h2>

    {% for resultTeam in competition.resultsTeams %}
        <table>
            <tr class="highlighted">
                <td colspan="2">Membre de l'équipe</td>
            </tr>

            {% for teammate in resultTeam.teammates %}
                <tr>
                    <td colspan="2">{{ teammate }}</td>
                </tr>
            {% endfor %}

            <tr class="highlighted">
                <td colspan="2">Résultats</td>
            </tr>

            <tr>
                <td>Qualification</td>
                <td>{{ resultTeam.score }} - {{ resultTeam.rank }}</td>
            </tr>

            {% for duel in resultTeam.duels %}
                <tr>
                    <td>{{ duel.title }}</td>
                    <td>Caen {{ duel.score }} - {{ duel.opponentScore }} {{ duel.opponentName }}</td>
                </tr>
            {% endfor %}

            <tr class="highlighted">
                <td colspan="2">Classement final</td>
            </tr>

            {% for finalRanking in resultTeam.finalRankings %}
                <tr>
                    <td>{{ finalRanking.rank }}</td>
                    <td>{{ finalRanking.teamName }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% endif %}
