{% if results|length %}

    <h2>Résultat individuel</h2>

    {% for weapon, categories in results %}

        <h3>{{ weapon }}</h3>

        <table>
            <thead class="highlighted">
                <tr>
                    <th>Categories</th>
                    <th>Archer</th>
                    <th>Score</th>
                    <th>Classement</th>
                </tr>
            </thead>
            <tbody>
                {% for category, results in categories %}
                    {% for result in results %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ results|length }}">
                                    {{ category }}
                                </td>
                            {% endif %}

                            <td>
                                {{ result.archer.fullName }}
                            </td>
                            <td>
                                {{ result.score }}
                            </td>
                            <td>
                                <div class="flex jc-space-between">
                                    {% if result.rank != 0 %}
                                        <p>
                                            {{ result.rank }}<sup>{% if result.rank == 1 %}er{% else %}e{% endif %}</sup>
                                        </p>

                                        {% if result.rank <= 3 %}
                                            <i class="text-small">Podium</i>{% if result.record %}, {% endif %}
                                        {% endif %}
                                    {% endif %}

                                    {% if result.record %}
                                        <i class="text-small">Record personnel</i>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <p>
                Bilan: {{ participantCount }} participant{% if participantCount > 1%}s{% endif%},
                {{ recordCount }} record{% if recordCount > 1%}s{% endif%},
                {{ podiumCount }} podium{% if podiumCount > 1%}s{% endif%}
            </p>
        </div>
    {% endfor %}

{% endif %}

{% if competition.resultsTeams|length %}

    <h2>Résultat en équipe</h2>

    {% for resultTeam in competition.resultsTeams %}
        <table>
            <tr class="highlighted">
                <td colspan="2">Membre de l'équipe</td>
            </tr>

            {% for teammate in resultTeam.teammates %}
                <tr>
                    <td colspan="2">{{ teammate }}</td>
                </tr>
            {% endfor %}

            <tr class="highlighted">
                <td colspan="2">Résultats</td>
            </tr>

            <tr>
                <td>Qualification</td>
                <td>{{ resultTeam.score }} - {{ resultTeam.rank }}</td>
            </tr>

            {% for duel in resultTeam.duels %}
                <tr>
                    <td>{{ duel.title }}</td>
                    <td>Caen {{ duel.score }} - {{ duel.opponentScore }} {{ duel.opponentName }}</td>
                </tr>
            {% endfor %}

            <tr class="highlighted">
                <td colspan="2">Classement final</td>
            </tr>

            {% for finalRanking in resultTeam.finalRankings %}
                <tr>
                    <td>{{ finalRanking.rank }}</td>
                    <td>{{ finalRanking.teamName }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

{% endif %}
