{% extends '/app/base.html.twig' %}

{% block title %}Mes licences{% endblock title %}

{% block main %}
    {% if not app.user.archerLicenseActive %}
        <a class="btn -primary my-5" href="{{ path(constant('App\\Http\\App\\Controller\\ArcherLicenseController::ROUTE_APP_LICENSE_NEW')) }}">Prendre une licence</a>
    {% endif %}

    <table title="licences" aria-label="Licence de l'archer connecté">
        <thead>
            <tr>
                <th>Type</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for license in app.user.archerLicenses %}
                <tr>
                    <td>{{ license.license.title }}</td>
                    <td>{{ license.dateStart|date('d/m/Y') }}</td>
                    <td>{{ license.dateEnd|date('d/m/Y') }}</td>
                    <td>{{ license.active ? 'Active' : 'Non active' }} / {{ license.payed ? 'Payé' : 'Non payé' }}</td>
                </tr>
            {% else %}
                <p>Vous n'avez aucune licence</p>
            {% endfor %}
        </tbody>
    </table>

{% endblock main %}
