{% extends '/landing/base.html.twig' %}
{% from '/landing/actualities/actualities.html.twig' import actualities %}
{% from 'landing/pages/_parts/pages.html.twig' import pages %}

{% block body %}
    <div class="index-page">
        <div class="hero-container">
            <div class="hero">
                <div class="title">
                    <h1>Archers de Caen</h1>
                    <h2>Le tir à l'arc <br> depuis 1964</h2>
                </div>

                <div class="thumbnails-container">
                    {{ pages(actualities) }}

                    <a href="{{ path('landing_actualities') }}" class="show-all-actualities">
                        <span>Voir toutes les actualités</span>
                        <i class="fa-solid fa-arrow-right ml-1"></i>
                    </a>
                </div>

            </div>
        </div>

        <div class="info-bar">
            <a class="partner" href="https://caen.fr" rel="nofollow">
                <img src="{{ asset('build/images/partners/caen.png') }}" alt="Logo de Caen">
            </a>
            <a class="partner" href="https://www.tiralarc-cd14.fr/" rel="nofollow">
                <img src="{{ asset('build/images/partners/cd14-logo.jpg') }}" alt="Logo du CD 14">
            </a>
            <a class="partner" href="https://tiralarc-normandie.fr/" rel="nofollow">
                <img src="{{ asset('build/images/partners/crnta-logo.png') }}" alt="Logo du CR de Normandie">
            </a>
            <a class="partner" href="https://www.ffta.fr" rel="nofollow">
                <img src="{{ asset('build/images/partners/ffta-logo.jpg') }}" alt="Logo ffta">
            </a>
            <a class="partner" href="https://www.ffta.fr/nos-clubs/labels-et-actions-federales/citoyens-du-sport" rel="nofollow">
                <img src="{{ asset('build/images/ffta-club.png') }}" alt="Logo ffta club citoyen du sport">
            </a>
        </div>

        <div class="shape-target bg-target"></div>

        <div class="presentations">
            {% for content in contents %}
                <div class="presentation">
                    <img src="{{ content.image }}" alt="">

                    <div class="content">
                        <h3>{{ content.title }}</h3>
                        <p>{{ content.description }}</p>

                        {% if content.button.text %}
                            <div class="call-to-action">
                                <a class="btn -primary" href="{{ content.button.url }}">
                                    {{ content.button.text }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="partners-container">
            <h2>Nos partenaires</h2>
            <div class="partners">
                {% for partner in partners %}
                    <a href="{{ path('landing_page', { slug: 'partenaires' }) }}" class="partner">
                        {% if partner.image %}
                            <img src="{{ partner.image }}" alt="Logo de {{ partner.name }}">
                        {% else %}
                            {{ partner.name }}
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
