<h3>En salle, de septembre à juin</h3>

<div class="wrapper-planning">
    <div class="planning">
        {% for planning in plannings %}
            {% if planning.headers is defined %}
                <div class="planning__row planning__row--hours">
                    <div class="planning__row-first"></div>
                    {% for header in planning.headers %}
                        <span>{{ header }}</span>
                    {% endfor %}
                </div>

                {% if loop.first %}
                    <div class="planning__row planning__row--lines" data-month="{{ planning.headers|length }}">
                        {% for header in planning.headers %}
                            <span></span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}

            {% if planning.rows is defined %}
                {% for row in planning.rows %}
                    <div class="planning__row">
                        <div class="planning__row-first">
                            {{ row.day }}
                        </div>
                        <ul class="planning__row-bars">
                            {% for slot in row.slots %}
                                <li style="grid-column: {{ slot.start }}/{{ slot.end }}" class="{{ slot.color }}">
                                    <b>{{ slot.title }}</b>
                                    <br>
                                    <span>{{ slot.content|raw }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<p>
    Les créneaux <span class="bg-blue text-white rounded p-1">Entraînement 1<sup>er</sup> années</span> offrent un suivi particulier en présence d’un Entraîneur diplômé.
    Ils sont réservés aux archers faisant partie de cette catégorie.
</p>
<p>
    Les créneaux <span class="bg-yellow rounded p-1">Entraînement 2<sup>e</sup> et 3<sup>e</sup> années</span>
    offrent un suivi particulier en présence d’un Entraîneur diplômé.
    Une partie de la salle est réservée aux archers faisant partie de cette catégorie, ce qui permet de cohabiter avec d’autres créneaux.
    Les archers de cette catégorie peuvent également, une fois équipés de leur propre matériel, participer à d’autres créneaux librement.
</p>
<p>
    Les créneaux <span class="bg-yellow rounded p-1">Compétition</span> accordent la priorité sur la disposition de la salle et l’organisation
    du temps de tir aux archers préparant une compétition, sous la supervision d’un Entraîneur diplômé.
    Les autres archers peuvent également s’entraîner pendant ce créneau, mais devront suivre l’organisation mise en place.
</p>
<p>
    Les créneaux <span class="bg-red text-white rounded p-1">Libres</span> permettent de suivre une organisation de salle et de temps aux choix des archers présents.
    Il n’y a pas d’entraîneur attitré à ces créneaux.
</p>
<p>
    Le <span class="bg-primary text-white rounded p-1">Fit-archery</span> est une activité mêlant le tir à l'arc à des exercices de remise en forme et de préparation physique.
    Ce créneau est accessible pour tous les niveaux de tir et physique.
    <a href="https://www.youtube.com/watch?v=3V67BCVfiNI" target="_blank" rel="nofollow">Video de présentation</a>.
</p>

<h3>En extérieur, de mars à septembre</h3>

<p>
    Tous les jours, de 7 h à 22 h, en autonomie. L’accès au terrain extérieur se fait à l’aide d’une clé,
    confiée par le président du club contre une caution de 15€. Le niveau « flèche bleue » est également demandé,
    afin de s’assurer de l’autonomie de l’archer. Si vous n’avez pas ce niveau, il est toutefois possible
    de venir accompagné d’un entraîneur diplômé.
</p>
