{% extends '/landing/base.html.twig' %}

{% block title %}
    {{ gallery.title }}
{% endblock title %}

{% block description %}
    Galerie photo: {{ gallery.title }}
{% endblock description %}

{% block meta %}
    <meta name="robots" content="noimageindex" />
{% endblock meta %}

{% block og %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ gallery.mainPhoto is defined and gallery.mainPhoto ? gallery.mainPhoto|imagine_filter('thumbnail') : absolute_url(asset('build/images/photo/cible.webp')) }}" />
{% endblock og %}

{% block body %}
    <div class="bg-target shape-target"></div>

    <div class="thumbnails-container">
        <div class="title">
            <h1 class="-white">{{ gallery.title }}</h1>
        </div>

        <div class="thumbnails" id="galleries">
            {% for photo in photos %}
                {# @var photo \App\Domain\File\Model\Photo #}

                <div class="thumbnail -horizontal">
                    <header>
                        <img
                            src="{{ photo.imageName|imagine_filter('thumbnail') }}"
                            data-original-photo="{{ vich_uploader_asset(photo) }}"
                            alt="Photo"
                            decoding="async"
                        >
                    </header>
                </div>
            {% endfor %}
        </div>

        <div class="mt-3">
            {{ include('/shared/components/paginator.html.twig', { paginator, routeParams: { slug: gallery.slug } }) }}
        </div>

        <div class="share-bar">
            {% set galleryUrl = absolute_url(path(constant('App\\Http\\Landing\\Controller\\Gallery\\GalleryController::ROUTE'), { slug: gallery.slug })) %}

            {% set facebookLink = 'https://www.facebook.com/sharer.php?u=' ~ galleryUrl|url_encode %}
            <a
                class="share-bar-btn share-bar-btn-width-15 btn -secondary -outline"
                href="{{ facebookLink }}"
                onclick="openInNewTab(this.href); return false;"
            >
                <i data-feather="facebook"></i>
            </a>

            {% set emailLink = 'mailto:?subject=' ~ gallery.title ~ '&body=' ~ galleryUrl|url_encode ~ ' ' ~ gallery.title %}
            <a
                class="share-bar-btn share-bar-btn-width-15 btn -secondary -outline"
                href="{{ emailLink }}"
                onclick="openInNewTab(this.href); return false;"
            >
                <i data-feather="mail"></i>
            </a>

            <a
                class="share-bar-btn share-bar-btn-width-15 copy-btn btn -secondary -outline"
                href="{{ galleryUrl }}"
            >
                <i data-feather="clipboard"></i>
            </a>

            <a
                class="share-bar-btn btn -secondary -outline open-native-share"
                data-url="{{ galleryUrl }}"
                data-title="{{ gallery.title }}"
                data-text='Salut, regarde les photos "{{ gallery.title }}" des Archers de Caen'
            >
                <i data-feather="share-2"></i>
            </a>

            {# TODO            <a#}
            {#                class="share-bar-btn share-bar-btn-width-15 copy-btn btn -secondary -outline"#}
            {#                href="{{ galleryUrl }}"#}
            {#            >#}
            {#                <i data-feather="download"></i>#}
            {#            </a>#}
        </div>
    </div>
{% endblock %}
