{% extends '/landing/base.html.twig' %}

{% block title %}
    {{ gallery.title }}
{% endblock title %}

{% block description %}
    Galerie photo: {{ gallery.title }}
{% endblock description %}

{% block meta %}
    <meta name="robots" content="noimageindex" />
{% endblock meta %}

{% block og %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ gallery.mainPhoto is defined and gallery.mainPhoto ? gallery.mainPhoto|imagine_filter('thumbnail') : asset('build/images/photo/cible.webp') }}" />
{% endblock og %}

{% block body %}
    <div class="bg-target shape-target"></div>

    <div class="thumbnails-container">
        <div class="title">
            <h1 class="-white">{{ gallery.title }}</h1>
        </div>

        <div class="thumbnails" id="galleries">
            {% for photo in photos %}
                {# @var photo \App\Domain\File\Model\Photo #}

                <div class="thumbnail -horizontal">
                    <header>
                        <img
                            src="{{ photo.imageName|imagine_filter('thumbnail') }}"
                            data-original-photo="{{ vich_uploader_asset(photo) }}"
                            alt="Photo"
                            decoding="async"
                        >
                    </header>
                </div>
            {% endfor %}
        </div>

        <div class="mt-3">
            {{ include('/shared/components/paginator.html.twig', { paginator, routeParams: { slug: gallery.slug } }) }}
        </div>
    </div>
{% endblock %}
