{% extends '/landing/base.html.twig' %}
{# @var page \App\Domain\Cms\Model\Page #}

{% block body %}
    <div class="shape-target"></div>
    <div class="actuality-container">
        <header class="actuality-container-header">
            {% if page.category.value == 'actuality' %} {# TODO: a remplace par enum #}
                <img
                    class="actuality-main-image"
                    src="{{ page.image is defined and page.image ? page.image|imagine_filter('thumbnail_medium') : asset('build/images/photo/cible.webp') }}"
                    alt="Photo de la page: {{ page.title }}"
                >
            {% endif %}
        </header>

        <main class="actuality-container-content">
            <div class="actuality-title">
                <header class="actuality-info">
                    {% if page.createdBy %}
                        <span>{{ page.createdBy.firstName }} {{ page.createdBy.lastName }}</span>
                    {% endif %}

                    {% if page.createdBy and page.createdAt %}
                        <div class="separator"></div>
                    {% endif %}

                    {% if page.createdAt %}
                        <span>
                            {{ page.createdAt|date('d') }} {{ page.createdAt|date('F')|trans({}, 'date') }} {{ page.createdAt|date('Y') }}
                        </span>
                    {% endif %}
                </header>
                <h1>{{ page.title }}</h1>
            </div>

            <div class="actuality-share">
                {% set facebookLink = 'https://www.facebook.com/sharer.php?u=' ~ absolute_url(path('landing_actuality', { slug: page.slug }))|url_encode %}
                <a
                    class="actuality-share-btn btn -secondary -outline"
                    href="{{ facebookLink }}"
                    onclick="openInNewTab(this.href); return false;"
                >
                    <i data-feather="facebook"></i>
                </a>

                {% set twitterLink = 'https://twitter.com/share?text=' ~ page.title ~ '&url=' ~ absolute_url(path('landing_actuality', { slug: page.slug }))|url_encode %}
                <a
                    class="actuality-share-btn btn -secondary -outline"
                    href="{{ twitterLink }}"
                    onclick="openInNewTab(this.href); return false;"
                >
                    <i data-feather="twitter"></i>
                </a>

                {% set emailLink = 'mailto:?subject=' ~ page.title ~ '&body=' ~ absolute_url(path('landing_actuality', { slug: page.slug }))|url_encode ~ ' ' ~ page.title %}
                <a
                    class="actuality-share-btn btn -secondary -outline"
                    href="{{ emailLink }}"
                    onclick="openInNewTab(this.href); return false;"
                >
                    <i data-feather="mail"></i>
                </a>

                <a
                    class="actuality-share-btn copy-btn btn -secondary -outline"
                    href="{{ absolute_url(path('landing_actuality', { slug: page.slug })) }}"
                >
                    <i data-feather="clipboard"></i>
                </a>
            </div>

            <div class="actuality-content ck-content">
                {{ page.content|raw }}
            </div>
        </main>

        <footer class="actuality-container-footer">
            {% if nextPage %}
                <a href="{{ absolute_url(path('landing_actuality', { slug: nextPage.slug })) }}">
                    <span>{{ nextPage.title }}</span>
                    <i data-feather="arrow-right"></i>
                </a>
            {% endif %}
        </footer>
    </div>
{% endblock %}
