{% extends '/landing/base.html.twig' %}
{# @var page \App\Domain\Cms\Model\Page #}

{% block body %}
    <div class="shape-target"></div>
    <div class="actuality-container">
        <header class="actuality-container-header">
            {% if page.category.value == 'actuality' %} {# TODO: a remplace par enum #}
                {% if page.image %}
                    <img
                        class="actuality-main-image"
                        src="{{ vich_uploader_asset(page.image, 'imageFile') }}"
                        alt="Image par défaut représentant une fleche dans une cible"
                    >
                {% else %}
                    <img
                        class="actuality-main-image"
                        src="{{ asset('build/images/photo/cible.jpg') }}"
                        alt="Image par défaut représentant une fleche dans une cible"
                    >
                {% endif %}
            {% endif %}
        </header>

        <main class="actuality-container-content">
            <div class="actuality-title">
                <header class="actuality-info">
                <span>
                    {{ page.createdBy.firstName }} {{ page.createdBy.lastName }}
                </span>
                    <div class="separator"></div>
                    <span>
                    {{ page.createdAt|date('d') }} {{ page.createdAt|date('F')|trans({}, 'date') }} {{ page.createdAt|date('Y') }}
                </span>
                </header>
                <h1>{{ page.title }}</h1>
            </div>

            <div class="actuality-share">
                {% set facebookLink = 'https://www.facebook.com/sharer.php?u=' ~ absolute_url(path('landing_actuality', { slug: page.slug }))|url_encode %}
                <a
                    class="actuality-share-btn btn -secondary -outline"
                    href="{{ facebookLink }}"
                    onclick="openInNewTab(this.href); return false;"
                >
                    <i data-feather="facebook"></i>
                </a>

                {% set twitterLink = 'https://twitter.com/share?text=' ~ page.title ~ '&url=' ~ absolute_url(path('landing_actuality', { slug: page.slug }))|url_encode %}
                <a
                    class="actuality-share-btn btn -secondary -outline"
                    href="{{ twitterLink }}"
                    onclick="openInNewTab(this.href); return false;"
                >
                    <i data-feather="twitter"></i>
                </a>

                {% set emailLink = 'mailto:?subject=' ~ page.title ~ '&body=' ~ absolute_url(path('landing_actuality', { slug: page.slug }))|url_encode ~ ' ' ~ page.title %}
                <a
                    class="actuality-share-btn btn -secondary -outline"
                    href="{{ emailLink }}"
                    onclick="openInNewTab(this.href); return false;"
                >
                    <i data-feather="mail"></i>
                </a>

                <a
                    class="actuality-share-btn copy-btn btn -secondary -outline"
                    href="{{ absolute_url(path('landing_actuality', { slug: page.slug })) }}"
                >
                    <i data-feather="clipboard"></i>
                </a>
            </div>

            <div class="actuality-content ck-content">
                {{ page.content|raw }}
            </div>
        </main>

        <footer class="actuality-container-footer">
            {% if nextPage %}
                <a href="{{ absolute_url(path('landing_actuality', { slug: nextPage.slug })) }}">
                    <span>{{ nextPage.title }}</span>
                    <i data-feather="arrow-right"></i>
                </a>
            {%endif%}
        </footer>
    </div>
{% endblock %}
