{% set registerUrl = path(constant('App\\Http\\Landing\\Controller\\CompetitionRegisterController::ROUTE_LANDING_COMPETITION_REGISTER'), { slug: competitionRegister.slug }) %}

<div class="w-100 flex jc-center mt-3">
    <a href="{{ registerUrl }}"
       class="btn -primary"
    >
        Je m'inscris
    </a>
</div>

{% set rateUrl = path(constant('App\\Http\\Landing\\Controller\\CompetitionRegisterController::ROUTE_LANDING_COMPETITION_REGISTER_REGISTRATION_RATE'), { slug: competitionRegister.slug }) %}

<h2>Taux de réservation</h2>
<iframe src="{{ rateUrl }}" class="fit-height-content" title="Taux de réservation"></iframe>

{% if competitionRegister.mandate %}
    <h2>Mandat</h2>

    <div class="files mt-2">
        <a class="file" href="{{ vich_uploader_asset(competitionRegister.mandate) }}" target="_blank">
            <span>
                <i class="fa-solid fa-file-pdf"></i>
                Télécharger le mandat
            </span>
            <i class="fa-solid fa-eye"></i>
        </a>
    </div>

    <iframe src="{{ vich_uploader_asset(competitionRegister.mandate) }}" class="mt-3" height="500px" title="Mandat du concours"></iframe>
{% endif %}

{% set listUrl = path(constant('App\\Http\\Landing\\Controller\\CompetitionRegisterController::ROUTE_LANDING_COMPETITION_REGISTER_LIST_OF_REGISTRANTS'), { slug: competitionRegister.slug }) %}

<h2>Liste des inscrits</h2>
<iframe src="{{ listUrl }}" class="fit-height-content" title="Liste des inscrits"></iframe>

<div class="w-100 flex jc-center mt-3">
    <a href="{{ registerUrl }}"
       class="btn -primary"
    >
        Je m'inscris
    </a>
</div>
