{% extends 'landing/base.html.twig' %}

{% block title %}Formulaire d'inscription {{ competitionRegister }}{% endblock %}

{% block main %}
    <div class="page-content">
        {{ include('landing/competition-registers/_parts/mandate.html.twig') }}

        {{ form_start(form, {attr: {class: 'mt-4'}}) }}
            {{ form_row(form._token) }}

            {{ form_row(form.licenseNumber) }}

            <div id="archer-already-exist">
                <div class="border --rounded p-3">
                    <div class="flex jc-space-between">
                        <p class="text-large text-bold" id="archer-name"></p>
                        <i class="fa-solid fa-edit cursor-pointer" id="edit-archer"></i>
                    </div>
                    <p class="mt-2" id="archer-contact"></p>
                    <p class="mt-2" id="archer-category"></p>
                    <p id="archer-club"></p>
                </div>
            </div>

            <div id="archer" class="mt-2">
                <div class="flex jc-space-between">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                </div>

                <div class="form-groups">
                    <div class="form-group">
                        {{ form_label(form.gender) }}
                        <div class="flex jc-space-between w-100">
                            {% for gender in form.gender %}
                                {{ form_row(gender, { row_attr: { class: '--btn' } }) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="flex jc-space-between">
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                </div>

                {{ form_row(form.category) }}

                <div class="form-groups">
                    <div class="form-group">
                        {{ form_label(form.weapon) }}
                        <div class="flex jc-space-between w-100 --gap-2">
                            {% for weapon in form.weapon %}
                                {{ form_row(weapon, { row_attr: { class: '--btn' } }) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="">
                    {{ form_row(form.club) }}
                </div>
            </div>

            <div id="submit-container" class="mt-2 flex jc-end">
                {{ form_row(form.submit, { label: "Suivant" }) }}
            </div>

        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block javascript_footer %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            function translateGender(gender) {
                switch (gender) {
                    case 'man': return 'M. '
                    case 'woman': return 'Mme. '
                }

                return ''
            }

            function translateCategory(category) {
                switch (category.replace(/_man|_woman/, '')) {
                    case 'peewee' : return 'Poussin'
                    case 'cub' : return 'Minime'
                    case 'benjamin' : return 'Benjamin'
                    case 'cadet' : return 'Cadet'
                    case 'junior' : return 'Junior'
                    case 'senior_one' : return 'Senior 1'
                    case 'senior_two' : return 'Senior 2'
                    case 'senior_three' : return 'Senior 3'
                }

                return ''
            }

            function setArcherInputValue(selector, value) {
                const input = document.querySelector(archerFormPrefix + selector)

                if (input) {
                    input.value = value
                }
            }

            function handleLicenseInput(target) {
                if (target.value && target.value.match(/\d{6}[a-zA-Z]/g)) {
                    fetch('/api/competition-registers/archers/' + target.value)
                        .then((response) => {
                            if (200 === response.status) {
                                return response.json()
                            }

                            show(archerContainer)
                            hide(archerAlreadyExistContainer)
                        })
                        .then((body) => {
                            if (body) {
                                setArcherInputValue('firstName', body.firstName)
                                setArcherInputValue('lastName', body.lastName)
                                setArcherInputValue('club', body.club)

                                const genderInput = document.querySelector(`input[name="competition_register_departure_target_archer_form[gender]"][data-gender="${body.gender}"]`)
                                if (genderInput) {
                                    genderInput.checked = true
                                }

                                const categorySelect = document.querySelector(`input[name="competition_register_departure_target_archer_form[category]"]`)
                                if (categorySelect) {
                                    const categoryOption = categorySelect.querySelector(`[data-gender="${body.category}"]`)

                                    categorySelect.value = categoryOption.value
                                }

                                if (body.firstName && body.lastName && body.email && body.phone && body.club && body.category && body.gender) {
                                    hide(archerContainer)
                                    show(archerAlreadyExistContainer)

                                    archerAlreadyExistContainer.querySelector('#edit-archer').addEventListener('click', () => {
                                        show(archerContainer)
                                        hide(archerAlreadyExistContainer)
                                    })

                                    archerAlreadyExistContainer.querySelector('#archer-name').innerText = translateGender(body.gender) + body.firstName + '' + body.lastName
                                    archerAlreadyExistContainer.querySelector('#archer-contact').innerText = body.email + ' | ' + body.phone
                                    archerAlreadyExistContainer.querySelector('#archer-category').innerText = translateCategory(body.category)
                                    archerAlreadyExistContainer.querySelector('#archer-club').innerText = body.club
                                } else {
                                    show(archerContainer)
                                    hide(archerAlreadyExistContainer)
                                }
                            } else {
                                show(archerContainer)
                                hide(archerAlreadyExistContainer)

                                setArcherInputValue('firstName', null)
                                setArcherInputValue('lastName', null)
                                setArcherInputValue('club', null)
                                setArcherInputValue('category', null)
                            }
                        })
                        .finally(() => {
                            show(submitContainer, 'flex')
                        })
                }
            }

            function handleGenderInput(target)
            {
                document.querySelectorAll('option[data-gender]').forEach((option) => {
                    if (target.getAttribute('data-gender') === option.getAttribute('data-gender')) {
                        show(option)
                    } else {
                        hide(option)
                    }
                })
            }

            const archerContainer = document.querySelector('#archer')
            const archerAlreadyExistContainer = document.querySelector('#archer-already-exist')
            const submitContainer = document.querySelector('#submit-container')

            const archerFormPrefix = '#competition_register_departure_target_archer_form_'
            const licenseInput = document.querySelector(archerFormPrefix + 'licenseNumber')
            const genderInputs = document.querySelectorAll('input[name="competition_register_departure_target_archer_form[gender]"]')

            let typingTimer
            const doneTypingInterval = 500

            hide(archerContainer)
            hide(archerAlreadyExistContainer)
            hide(submitContainer)

            licenseInput.addEventListener('input', (e) => {
                const target = e.currentTarget

                clearTimeout(typingTimer)

                typingTimer = setTimeout(() => {
                    handleLicenseInput(target)
                }, doneTypingInterval)
            })

            genderInputs.forEach((genderInput) => {
                genderInput.addEventListener('input', (e) => {
                    const target = e.currentTarget

                    handleGenderInput(target)
                })
            })

            document.querySelectorAll('option[data-gender]').forEach((option) => {
                hide(option)

                option.textContent = option.textContent.replace(/Homme|Femme/, '')
            })

            if (licenseInput.value) {
                show(archerContainer)
                show(submitContainer, 'flex')
            }
        })
    </script>
{% endblock javascript_footer %}
