{% extends 'landing/base.html.twig' %}

{% block title %}Formulaire d'inscription {{ competitionRegister }}{% endblock %}

{% block body %}
    <main class="page-container">
        <section class="title">
            <h1>{{ block('title') }}</h1>
        </section>

        {{ include('landing/competition-registers/_parts/mandate.html.twig') }}

        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form._token) }}

            <div style="display: none">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.gender) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.category) }}
                {{ form_row(form.licenseNumber) }}
                {{ form_row(form.club) }}
            </div>

            <div class="form-groups mt-4">
                <h3>Sélectionner le ou les départs que vous voulez faire</h3>

                {% for departure in competitionRegister.departures %}
                    <div class="form-group --check --btn {% if not loop.first %}mt-4{% endif %} departures">
                        {% set dateId = departure.date|date('Y-m-d-h-i') %}

                        <input type="checkbox" id="{{ dateId }}" name="date" {% if form[departure.id ~ '-targets'].vars.value %}checked{% endif%} />
                        <label for="{{ dateId }}">Départ du {{ departure.date|date('d/m/Y à h:i') }} ({{ departure.registration }} inscrits / {{ departure.maxRegistration }})</label>
                    </div>

                    <div class="form-groups targets">
                        {% for target in form[departure.id ~ '-targets'] %}
                            {{ form_row(target, { row_attr: { class: '--btn' } }) }}
                        {% endfor %}

                        {{ form_errors(form[departure.id ~ '-targets']) }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-groups mt-4">
                <h3>Information complémentaire</h3>

                {{ form_row(form.wheelchair, { row_attr: { class: '--check' } }) }}
                {{ form_row(form.firstYear, { row_attr: { class: '--check' } }) }}
                {{ form_row(form.additionalInformation) }}
            </div>

            <div id="submit-container" class="mt-2 flex jc-space-between">
                <a href="{{ path(constant('App\\Http\\Landing\\Controller\\CompetitionRegisterController::ROUTE_LANDING_COMPETITION_REGISTER_ARCHER'), { slug: competitionRegister.slug }) }}"
                   class="btn"
                >
                    Retour
                </a>

                {{ form_row(form.submit, { label: "S'inscrire" }) }}
            </div>
        {{ form_end(form, {'render_rest': false}) }}
    </main>
{% endblock %}

{% block javascript_footer %}
    <script>
        function hide(element) {
            element.style.display = 'none'

            element.querySelectorAll('input, select').forEach((input) => {
                input.required = false
            })
        }

        function show(element, type = 'block') {
            element.style.display = type

            element.querySelectorAll('input, select').forEach((input) => {
                input.required = true
            })
        }

        document.querySelectorAll('.targets').forEach(target => {
            hide(target)
        })

        document.querySelectorAll('input[name=date]').forEach(input => {
            if (input.checked) {
                show(input.closest('.departures').nextElementSibling)
            }

            input.addEventListener('change', (e) => {
                const target = e.currentTarget
                const targets = target.closest('.departures').nextElementSibling

                if (target.checked) {
                    show(targets)
                } else {
                    hide(targets)

                    targets.querySelectorAll('input').forEach((radio) => {
                        radio.checked = false
                    })
                }
            })
        })
    </script>
{% endblock %}
