{% extends 'landing/iframe.html.twig' %}

{% block title %}Liste des inscrits au concours{% endblock %}

{% block body %}
    {% for departure in competitionRegister.departures %}
        <p class="text-large">Départ du {{ departure }}</p>

        <table>
            <thead>
                <tr class="highlighted">
                    <th>Archer</th>
                    <th>Licence</th>
                    <th>Catégorie</th>
                    <th>Club</th>
                    <th>Distance</th>
                    <th>Blason</th>
                    <th>Cible</th>
                </tr>
            </thead>

            <tbody>
                {% set register = false %}
                {% for target in departure.targets %}
                    {% for registerArcher in target.archers %}
                        {% set register = true %}

                        <tr>
                            <td>{{ registerArcher.firstName }} {{ registerArcher.lastName }}</td>
                            <td>{{ registerArcher }}</td>
                            <td>{{ registerArcher.category.toShortString }}</td>
                            <td>{{ registerArcher.club }}</td>
                            <td>{{ target.distance }} m</td>
                            <td>{{ target.type.toString }}</td>
                            <td>{{ registerArcher.position }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                {% if not register %}
                    <tr>
                        <td colspan="7">Aucun n'inscrit pour l'instant</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
