{% extends 'landing/iframe.html.twig' %}

{# @var \App\Domain\Competition\Model\CompetitionRegister competitionRegister #}

{% block title %}Taux de reservation{% endblock %}

{% block body %}

    {% set allMaxRegistration = 0 %}
    {% set allRegistration = 0 %}

    <div class="flex jc-space-between --gap-2 --wrap">
        {% for departure in competitionRegister.departures|sort((departureA, departureB) => departureA.date > departureB.date) %}
            {% set allMaxRegistration = allMaxRegistration + departure.maxRegistration %}
            {% set allRegistration = allRegistration + departure.registration %}

            <ul>
                <li>
                    <h3>{{ departure }}</h3>
                </li>
                <li>
                    Nombre de place : {{ departure.maxRegistration }}
                </li>
                <li>
                    Nombre d'inscrit : {{ departure.registration }}
                </li>
                <li>
                    Place libre : {{ departure.maxRegistration - departure.registration }}
                </li>
                <li>
                    Occupation : {{ (100 * departure.registration / departure.maxRegistration)|round(1) }} %
                </li>
            </ul>
        {% endfor %}
    </div>

    <ul>
        <li>
            <h3>Total</h3>
        </li>
        <li>
            Total : {{ allMaxRegistration }}
        </li>
        <li>
            Nombre de place : {{ allRegistration }}
        </li>
        <li>
            Place libre : {{ allMaxRegistration - allRegistration }}
        </li>
        <li>
            Occupation : {{ (100 * allRegistration / allMaxRegistration)|round(1) }} %
        </li>
    </ul>

{% endblock %}
