{% extends 'landing/base.html.twig' %}

{% block title %}Formulaire d'inscription {{ competitionRegister }}{% endblock %}

{% block main %}
    <div class="page-content">
        <div>
            {{ include('landing/competition-registers/_parts/mandate.html.twig') }}

            <h2>Super !</h2>

            <p>Votre inscription à notre concours a été prise en compte</p>

            <p>Vous êtes inscrit au{% if departures|length %}x{% endif%} départ{% if departures|length %}s{% endif%} du <b>{{ departures|join(', ') }}</b></p>


            <div class="flex jc-space-between mt-3">
                <a
                    class="btn"
                    href="{{ path(constant('App\\Http\\Landing\\Controller\\DefaultController::ROUTE_LANDING_INDEX')) }}"
                >
                    Revenir à l'accueil
                </a>

                <a
                    class="btn -primary"
                    href="{{ path(constant('App\\Http\\Landing\\Controller\\CompetitionRegisterController::ROUTE_LANDING_COMPETITION_REGISTER'), { slug: competitionRegister.slug }) }}"
                >
                    Nouvelle inscription
                </a>
            </div>
        </div>
    </div>
{% endblock %}
