{% extends 'landing/base.html.twig' %}

{% block title %}Formulaire d'inscription {{ competitionRegister }}{% endblock %}

{% block main %}
    {# @var registrations \App\Domain\Competition\Model\CompetitionRegisterDepartureTargetArcher[] #}
    {# @var registration \App\Domain\Competition\Model\CompetitionRegisterDepartureTargetArcher #}
    {% set register = registrations[0] %}

    <div class="page-content">
        <div class="w-100">
            {{ include('landing/competition-registers/_parts/mandate.html.twig') }}

            <h2>Super !</h2>

            <h3>Récapitulatif de votre inscription</h3>

            <table>
                <tr>
                    <td>
                        <div class="flex direction-column">
                            <b>Prénom</b>
                            <span>{{ register.firstName }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="flex direction-column">
                            <b>Nom</b>
                            <span>{{ register.lastName }}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="flex direction-column">
                            <b>Email</b>
                            <span>{{ register.email }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="flex direction-column">
                            <b>Téléphone</b>
                            <span>{{ register.phone }}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="flex direction-column">
                            <b>Catégorie</b>
                            <span>{{ register.category.toString }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="flex direction-column">
                            <b>Arme</b>
                            <span>{{ register.weapon.value|trans({}, 'archer') }}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="flex direction-column">
                            <b>Numéro de licence</b>
                            <span>{{ register.licenseNumber }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="flex direction-column">
                            <b>Club</b>
                            <span>{{ register.club }}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="flex direction-column">
                            <b>1ère année</b>
                            <span>{{ register.firstYear ? 'Oui' : 'Non' }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="flex direction-column">
                            <b>Fauteuil roulant</b>
                            <span>{{ register.wheelchair ? 'Oui' : 'Non' }}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div class="flex direction-column">
                            <b>Information supplémentaire</b>
                            <span>{{ register.additionalInformation ?: 'Non' }}</span>
                        </div>
                    </td>
                </tr>
            </table>

            <h3>Départ(s)</h3>

            <table>
                {% for registration in registrations %}
                    <tr>
                        <td>Départ du {{ registration.target.departure }} sur {{ registration.target }}, {{ registration.paid ? 'payé' : 'non payé' }}</td>
                    </tr>
                {% endfor %}
            </table>

            {% if registrations|filter(registration => not registration.paid) %}
                <p>Si vous le souhaitez, vous avez la possibilité de payer votre inscription en ligne grâce à Helloasso</p>
            {% endif %}

            <div class="flex jc-space-between mt-3">
                <a
                    class="btn -primary"
                    href="{{ path(constant('App\\Http\\Landing\\Controller\\DefaultController::ROUTE_LANDING_INDEX')) }}"
                >
                    Revenir à l'accueil
                </a>

                {% if registrations|filter(registration => not registration.paid) %}
                    <a
                        class="btn -primary"
                        href="{{ path(
                            constant('App\\Http\\Landing\\Controller\\CompetitionRegisterController::ROUTE_LANDING_COMPETITION_REGISTER_PAYMENT'),
                            { slug: competitionRegister.slug, licenseNumber: register.licenseNumber }
                        ) }}"
                    >
                        Payer
                    </a>
                {% endif %}

                <a
                    class="btn -primary"
                    href="{{ path(constant('App\\Http\\Landing\\Controller\\CompetitionRegisterController::ROUTE_LANDING_COMPETITION_REGISTER'), { slug: competitionRegister.slug }) }}"
                >
                    Nouvelle inscription
                </a>
            </div>
        </div>
    </div>
{% endblock %}
