{% extends '/landing/base.html.twig' %}
{# @var archer \App\Domain\Archer\Model\Archer #}
{# @var progressArrows \App\Domain\Badge\Model\Badge[] #}

{% block title %}
    {{ archer }}
{% endblock title %}

{% block description %}
    Palmarès de {{ archer.fullName }}, résultat au concours, flèches de progression, etc.
{% endblock description %}

{% block og %}
    <meta property="og:type" content="profile" />
    <meta property="og:image" content="{{ absolute_url(asset('build/images/logo-archers-de-caen/logo-normal-v2.png')) }}" />
    <meta property="profile:first_name" content="{{ archer.firstName }}" />
    <meta property="profile:last_name" content="{{ archer.lastName }}" />
    <meta property="profile:username" content="{{ archer.licenseNumber }}" />
    <meta property="profile:gender" content="{{ archer.gender.toOpenGraphValue }}" />
{% endblock %}

{% block main %}
    <h2>Récapitulatif</h2>

    <div class="flex jc-space-around text-center">
        <div class="flex direction-column border rounded p-2">
            <strong class="text-xx-large">{{ archer.resultsCompetition|length }}</strong>
            <span class="mt-1">Nombre de concours</span>
        </div>

        <div class="flex direction-column border rounded p-2">
            <strong class="text-xx-large">{{ archer.resultsCompetition|filter(result => result.onThePodium)|length }}</strong>
            <span class="mt-1">Nombre de podium</span>
        </div>

        <div class="flex direction-column border rounded p-2">
            <strong class="text-xx-large">{{ archer.favoriteWeapon ? archer.favoriteWeapon.value|trans([], 'archer') : 'Non' }}</strong>
            <span class="mt-1">Arme préférée</span>
        </div>
    </div>

    <h2 class="mt-5">Résultats concours</h2>
    <table>
        <thead class="highlighted">
            <tr>
                <th>Competition</th>
                <th>Categories</th>
                <th>Arme</th>
                <th>Score</th>
                <th>Classement</th>
            </tr>
        </thead>
        <tbody>
            {# @var result \App\Domain\Result\Model\ResultCompetition #}
            {% for result in archer.resultsCompetition %}
                <tr>
                    <td>
                        <p>
                            <a href="{{ path(constant('App\\Http\\Landing\\Controller\\Results\\CompetitionController::ROUTE'), { slug: result.competition.slug }) }}">
                                {{ result.competition|replace({"concours ": ""}) }}
                            </a>
                        </p>
                    </td>

                    <td>
                        {{ result.category.value|trans([], 'archer') }}
                    </td>

                    <td>
                        {{ result.weapon.value|trans([], 'archer') }}
                    </td>

                    <td>
                        {{ result.score }}
                    </td>
                    <td>
                        <div class="flex jc-space-between">
                            {% if result.rank != 0 %}
                                <p>
                                    {{ result.rank }}<sup>{% if result.rank == 1 %}er{% else %}e{% endif %}</sup>
                                </p>
                            {% endif %}

                            <span>
                                {% if result.onThePodium %}
                                    <i class="text-small">Podium</i>{% if result.record %}, {% endif %}
                                {% endif %}

                                {% if result.record %}
                                    <i class="text-small">Record personnel</i>
                                {% endif %}
                            </span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="mt-5">Flèches de progressions</h2>
    <div class="flex jc-space-evenly --gap-1 --wrap w-100">
        {% for progressArrow in progressArrows %}
            <div class="flex direction-column jc-space-around border rounded p-2">
                {% if progressArrow.image %}
                    <img src="{{ vich_uploader_asset(progressArrow.image) }}" alt="{{ progressArrow.name }}" disabled>
                {% else %}
                    <span>{{ progressArrow.name }}</span>
                {% endif %}

                {% for resultProgressArrow in archer.resultsProgressArrow %}
                    {% if progressArrow == resultProgressArrow.badge %}
                        <p>{{ resultProgressArrow.score }} | {{ resultProgressArrow.completionDate|date('d M Y') }}</p>
                    {% else %}
                        <p>Non obtenu</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
