{% extends '/landing/base.html.twig' %}

{% block title %}Compétitions{% endblock %}

{% block main %}
    <div class="border --rounded p-4">
        {{ form_start(filterForm) }}

        <div class="flex jc-space-between">
            {{ form_row(filterForm.season) }}
            {{ form_row(filterForm.type) }}
        </div>

        {{ form_row(filterForm.location) }}

        <div class="flex jc-end --gap-1 mt-2">
            {{ form_row(filterForm.reset) }}
            {{ form_row(filterForm.submit) }}
        </div>

        {{ form_end(filterForm) }}
    </div>

    <hr class="my-5">

    <table class="list">
        <thead>
            <tr>
                <th>Lieu</th>
                <th>Dates</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {# @var competitions \App\Domain\Competition\Model\Competition[] #}
            {% for competition in competitions %}
                {% set url = path('landing_results_competition', { slug: competition.slug }) %}

                <tr class="cursor-pointer" onclick="document.location.href = '{{ url }}'; return">
                    <td>
                        <a href="{{ url }}">{{ competition.location }}</a>
                    </td>
                    <td>
                        <a href="{{ url }}">
                            {{ competition.dateStart|date('d/m/Y') }}
                            {% if competition.dateStart|date('d/m/Y') != competition.dateEnd|date('d/m/Y') %}
                                - {{ competition.dateEnd|date('d/m/Y') }}
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url }}">{{ competition.type.value|trans([], 'competition') }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune compétition</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ include('/shared/components/paginator.html.twig', { paginator: paginator }) }}
{% endblock %}
