{# for include need: paginator #}

<div class="paginator-container">
    <a
        class="paginator-prev"
        {% if not app.request.query.has('page') or app.request.query.get('page') == 1 %}
            disabled
        {% else %}
            href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({page: app.request.query.has('page') ? app.request.query.get('page') - 1 : 0 })) }}"
        {% endif %}
    >
        «
    </a>

    {% for page in paginator %}
        {% set parameters = app.request.query.all|merge({page: page}) %}

        <a
            class="paginator-page {{ page == app.request.query.get('page') or (not app.request.query.has('page') and page == 1) ? 'active' : '' }}"
            {% if page != '...' %}
                href="{{ path(app.request.attributes.get('_route'), parameters) }}"
            {% else %}
                disabled
            {% endif %}
        >
            {{ page }}
        </a>
    {% endfor %}

    <a
        class="paginator-next"
        {% if app.request.query.get('page') == paginator|last %}
            disabled
        {% else %}
            href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({page: app.request.query.get('page') ? app.request.query.get('page') + 1 : 2 })) }}"
        {% endif %}
    >
        »
    </a>
</div>
