<div class="logos">
    <div>
        <h3>SVG</h3>
        <a class="logo border --rounded" href="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.svg') }}" download>
            <img
                src="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.svg') }}"
                alt="Logo des archers de Caen en SVG"
            >
        </a>
    </div>

    <div>
        <h3>PNG</h3>
        <div class="logos">
            <a class="logo border --rounded" href="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.png') }}" download>
                <img
                    src="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.png') }}"
                    alt="Logo des archers de Caen en PNG"
                >
            </a>
            <a class="logo border --rounded" href="{{ asset('build/images/logo-archers-de-caen/logo-normal-with-background-v2.png') }}" download>
                <img
                    src="{{ asset('build/images/logo-archers-de-caen/logo-normal-with-background-v2.png') }}"
                    alt="Logo des archers de Caen avec fond blanc en PNG"
                >
            </a>
        </div>
    </div>
</div>


<h3 class="mt-3">Logo avec texte (PNG)</h3>

<div class="logos">
    <a class="logo border --rounded" href="{{ asset('build/images/logo-archers-de-caen/logo-v2-horizontal-one-line.png') }}" download>
        <img
            src="{{ asset('build/images/logo-archers-de-caen/logo-v2-horizontal-one-line.png') }}"
            alt="Logo horizontal sur une ligne"
        >
    </a>
    <a class="logo border --rounded" href="{{ asset('build/images/logo-archers-de-caen/logo-v2-horizontal-two-lines.png') }}" download>
        <img
            src="{{ asset('build/images/logo-archers-de-caen/logo-v2-horizontal-two-lines.png') }}"
            alt="Logo horizontal sur deux lignes"
        >
    </a>
    <a class="logo border --rounded" href="{{ asset('build/images/logo-archers-de-caen/logo-v2-vertical.png') }}" download>
        <img
            src="{{ asset('build/images/logo-archers-de-caen/logo-v2-vertical.png') }}"
            alt="Logo vertical"
        >
    </a>
</div>

<h3 class="mt-3">Assets / Illustrations (SVG)</h3>

<div class="logos">
    <a class="logo border --rounded" href="{{ asset('build/images/shape/black-curve.svg') }}" download>
        <img
            src="{{ asset('build/images/shape/black-curve.svg') }}"
            alt="black-curve"
        >
    </a>
    <a class="logo border --rounded" href="{{ asset('build/images/shape/double-target-curve.svg') }}" download>
        <img
            src="{{ asset('build/images/shape/double-target-curve.svg') }}"
            alt="double-target-curve"
        >
    </a>
    <a class="logo border --rounded" href="{{ asset('build/images/shape/double-target-curve-long.svg') }}" download>
        <img
            src="{{ asset('build/images/shape/double-target-curve-long.svg') }}"
            alt="double-target-curve-long"
        >
    </a>
</div>

<div class="logos mt-3">
    <a class="logo border --rounded" href="{{ asset('build/images/shape/target-curve-large.svg') }}" download>
        <img
            src="{{ asset('build/images/shape/target-curve-large.svg') }}"
            alt="target-curve-large"
        >
    </a>
    <a class="logo border --rounded" href="{{ asset('build/images/shape/target-curve-normal.svg') }}" download>
        <img
            src="{{ asset('build/images/shape/target-curve-normal.svg') }}"
            alt="target-curve-normal"
        >
    </a>
    <a class="logo border --rounded" href="{{ asset('build/images/shape/target-curve-small.svg') }}" download>
        <img
            src="{{ asset('build/images/shape/target-curve-small.svg') }}"
            alt="target-curve-small"
        >
    </a>
</div>
