{% extends '/landing/base.html.twig' %}
{# @var page \App\Domain\Cms\Model\Page #}

{% block body %}
    <div class="page-container">
        <main class="page-container-content">
            <div class="page-title">
                <header class="page-info">
                    {% if page.createdBy %}
                        <span>{{ page.createdBy.firstName }} {{ page.createdBy.lastName }}</span>
                    {% endif %}

                    {% if page.createdBy and page.createdAt %}
                        <div class="separator"></div>
                    {% endif %}

                    {% if page.createdAt %}
                        <span>
                            {{ page.createdAt|date('d') }} {{ page.createdAt|date('F')|trans({}, 'date') }} {{ page.createdAt|date('Y') }}
                        </span>
                    {% endif %}
                </header>
                <h1>{{ page.title }}</h1>
            </div>

            <div class="page-content ck-content">
                {{ page.content|raw }}
            </div>
        </main>
    </div>
{% endblock %}
