{% from 'landing/_parts/social-networks.html.twig' import socialNetwork %}
<!-- Site réalisé par Damien HEBERT damienhebert.fr -->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %}{% endblock %}{% if block('title') %} | {% endif %}Les Archers de Caen</title>

        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/favicon/16x16.png" sizes="16x16">

        <!-- Permet d'afficher des preview de média, ajouté via ckeditor -->
        <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <input type="hidden" value="{{ message }}" data-type="{{ label }}" class="flash">
            {% endfor %}
        {% endfor %}

        <header class="header">
            <div class="header-secondary">
                <div class="header-content">
                    <ul>
                        <li class="mr-2">{{ socialNetwork() }}</li>
                        <li><a href="{{ path(constant('App\\Http\\Landing\\Controller\\NewspaperController::ROUTE_LANDING_NEWSPAPERS')) }}">La gazette</a></li>
                        <li><a href="{{ path(constant('App\\Http\\Landing\\Controller\\ContactController::ROUTE_LANDING_CONTACT')) }}">Contact</a></li>
                        {# <li><a href="{{ path('app_index') }}">Espace licencié</a></li> #}
                        {% if is_granted(constant('App\\Domain\\Archer\\Model\\Archer::ROLE_ADMIN')) %}
                            <li><a href="{{ path('admin_index') }}">Admin</a></li>
                        {% endif %}
                        {# <li><a href="#">🔍</a></li>#}
                    </ul>
                </div>
            </div>
            <div class="header-primary">
                <div class="header-content">
                    <a href="{{ path(constant('App\\Http\\Landing\\Controller\\DefaultController::ROUTE_LANDING_INDEX')) }}" class="header-image">
                        <img src="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.svg') }}" alt="Logo des archers de Caen">
                        <img src="{{ asset('build/images/logo-archers-de-caen/calligraphie.jpg') }}" alt="Logo des archers de Caen" class="logo-text">
                    </a>
                    <ul>
                        <li>
                            <a href="{{ path(constant('App\\Http\\Landing\\Controller\\ActualitiesController::ROUTE_LANDING_ACTUALITIES')) }}">
                                Actualités
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(constant('App\\Http\\Landing\\Controller\\ClubController::ROUTE_LANDING_CLUB')) }}">
                                Club
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(constant('App\\Http\\Landing\\Controller\\CompetitionController::ROUTE_LANDING_RESULTS')) }}">
                                Résultats
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(constant('App\\Http\\Landing\\Controller\\PageController::ROUTE_LANDING_PAGE_SPORT')) }}">
                                Sport
                            </a>
                        </li>
                        <li>
                            <a href="{{ path(constant('App\\Http\\Landing\\Controller\\GalleryController::ROUTE_LANDING_GALLERIES')) }}">
                                Photos
                            </a>
                        </li>

                        <li>
                            <a href="{{ path(constant('App\\Http\\Landing\\Controller\\ShopController::ROUTE_LANDING_INDEX')) }}">
                                Boutique
                            </a>
                        </li>
                    </ul>
                    <div class="menu-responsive-btn hamburger-menu">
                        <div class="hamburger-menu-bar"></div>
                        <div class="hamburger-menu-bar"></div>
                    </div>
                </div>
            </div>
        </header>

        <div class="body">
            {% block body %}
                <div class="page-container">
                    <div class="page-title-container">
                        <div class="page-title">
                            <h1 class="title">
                                {{ block('title') }}
                            </h1>
                        </div>
                    </div>

                    {% block main %}{% endblock main %}
                </div>
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="footer-container">
                <div class="menu">
                    <p>© Archers de Caen {{ 'now'|date('Y') }}. Tous droits réservés.</p>
                    <ul>
                        <li>{{ socialNetwork() }}</li>

                        {% if app.environment == 'dev' or is_granted(constant('App\\Domain\\Archer\\Model\\Archer::ROLE_DEVELOPER')) %}
                            <li><a href="{{ path('landing_style_guide') }}">Guide de style</a></li>
                        {% endif %}

                        {% if app.environment == 'dev' %}
                            <li><a href="https://archers-caen.fr">Production</a></li>
                        {% endif %}

                        <li><a href="{{ path('landing_page', { slug: 'politique-de-confidentialite', type: 'p' }) }}">Politique de confidentialité</a></li>
                        <li><a href="{{ path('landing_page', { slug: 'reglement-intérieur', type: 'p' }) }}">Règlement intérieur</a></li>
                        <li><a href="{{ path('landing_page', { slug: 'statuts', type: 'p' }) }}">Statuts</a></li>
                        <li><a href="{{ path('landing_page', { slug: 'labels', type: 'p' }) }}">Labels</a></li>
                        <li><a href="{{ path('landing_page', { slug: 'presse-et-medias', type: 'p' }) }}">Presse et médias</a></li>
                        <li><a href="{{ path('landing_page', { slug: 'historique', type: 'p' }) }}">Historique</a></li>
                        <li><a href="{{ path(constant('App\\Http\\Landing\\Controller\\ContactController::ROUTE_LANDING_CONTACT')) }}">Contact</a></li>
                    </ul>
                </div>

                <div class="logo">
                    <img src="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.svg') }}" alt="Logo des archers de Caen">
                </div>
            </div>
        </footer>

        {% block javascript_footer %}{% endblock %}
    </body>
</html>
