<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}{% if block('title') %} | {% endif %}Les Archers de Caen</title>

        <link rel="icon" href="/favicon/16x16.png" sizes="16x16">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <input type="hidden" value="{{ message }}" data-type="{{ label }}" class="flash">
            {% endfor %}
        {% endfor %}

        <header class="header">
            <div class="header-secondary">
                <div class="header-content">
                    <ul>
                        <li><a href="{{ path(constant('App\\Http\\Landing\\Controller\\NewspaperController::ROUTE_LANDING_NEWSPAPERS')) }}">La gazette</a></li>
                        <li><a href="{{ path(constant('App\\Http\\Landing\\Controller\\ContactController::ROUTE_LANDING_CONTACT')) }}">Contact</a></li>
                        <li><a href="{{ path('app_index') }}">Espace licencié</a></li>
                        {% if is_granted(constant('App\\Domain\\Archer\\Model\\Archer::ROLE_ADMIN')) %}
                            <li><a href="{{ path('admin_index') }}">Admin</a></li>
                        {% endif %}
                        {% if 'dev' == app.environment %}
                            <li><a href="https://archers-caen.fr">V2</a></li>
                        {% endif %}
                        <li><a href="#">🔍</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-primary">
                <div class="header-content">
                    <a href="{{ path('landing_index') }}" class="header-image">
                        <img src="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.svg') }}" alt="Logo des archers de Caen">
                    </a>
                    <ul>
                        <li><a href="{{ path('landing_actualities') }}">Actualités</a></li>
                        <li><a href="{{ path('landing_page', { slug: 'le-club', type: 'p' }) }}">Le club</a></li>
                        <li><a href="{{ path('landing_results') }}">Les résultats</a></li>
                        <li><a href="{{ path('landing_page', { slug: 'le-sport', type: 'p' }) }}">Le sport</a></li>
                        <li><a href="{{ path('landing_galleries') }}">Photo</a></li>
                    </ul>
                    <div class="menu-responsive-btn hamburger-menu">
                        <div class="hamburger-menu-bar"></div>
                        <div class="hamburger-menu-bar"></div>
                    </div>
                </div>
            </div>
        </header>

        <div class="body">
            {% block body %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="footer-container">
                <div class="menu">
                    <p>© Archers de Caen {{ 'now'|date('Y') }}. Tous droits réservés.</p>
                    <ul>
                        <li><a href="{{ path('landing_page', { slug: 'politique-de-confidentialite', type: 'p' }) }}">Politique de confidentialité</a></li>
                        <li><a href="{{ path('landing_page', { slug: 'reglement-intérieur', type: 'p' }) }}">Règlement intérieur</a></li>
                        <li><a href="{{ path('landing_page', { slug: 'statuts', type: 'p' }) }}">Statuts</a></li>
                        <li><a href="{{ path('landing_page', { slug: 'labels', type: 'p' }) }}">Labels</a></li>
                        <li><a href="{{ path('landing_page', { slug: 'presse-et-medias', type: 'p' }) }}">Presse et médias</a></li>

                        {% if app.environment == 'dev' or is_granted(constant('App\\Domain\\Archer\\Model\\Archer::ROLE_DEVELOPER')) %}
                            <li><a href="{{ path('landing_style_guide') }}">Guide de style</a></li>
                        {% endif %}

                        <li><a href="{{ path('landing_page', { slug: 'historique', type: 'p' }) }}">Historique</a></li>
                        <li><a href="{{ path(constant('App\\Http\\Landing\\Controller\\ContactController::ROUTE_LANDING_CONTACT')) }}">Contact</a></li>
                        <li class="mt-2">Site réalisé par <a href="https://damienhebert.fr" class="highlighted">Damien HEBERT</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <img src="{{ asset('build/images/logo-archers-de-caen/logo-normal-v2.svg') }}" alt="Logo des archers de Caen">
                </div>
            </div>
        </footer>

        {% block javascript_footer %}{% endblock %}
    </body>
</html>
