{# @var recap array #}
{# @var register \App\Domain\Competition\Model\CompetitionRegisterDepartureTargetArcher #}

{% extends layout %}

{% block body %}

    <h1>Inscription prise en compte</h1>

    <p>
        Votre inscription à notre concours a été prise en compte,
        vous êtes inscrit au{% if recap|length %}x{% endif%} départ{% if recap|length %}s{% endif%} du:
    </p>

    <ul>
        {% for departure in recap %}
            <li>{{ departure }}</li>
        {% endfor %}
    </ul>

    <p>Récapitulatif de vos informations personnelles</p>

    <ul>
        <li>Email : <b>{{ register.email }}</b></li>
        <li>Téléphone : <b>{{ register.phone }}</b></li>
        <li>Catégorie : <b>{{ register.category.value|trans([], 'archer') }}</b></li>
        <li>Arme : <b>{{ register.weapon.value|trans([], 'archer') }}</b></li>
        <li>Numéro de licence : <b>{{ register.licenseNumber }}</b></li>
        <li>Club : <b>{{ register.club }}</b></li>
        <li>1ère année : <b>{{ register.firstYear ? 'Oui' : 'Non' }}</b></li>
        <li>Fauteuil roulant : <b>{{ register.wheelchair ? 'Oui' : 'Non' }}</b></li>
        <li>Information supplémentaire : <b>{{ register.additionalInformation ?: 'Non' }}</b></li>
    </ul>

    <p>En cas d'erreur, merci de nous contacter en réponse à ce mail ou <a href="{{ absolute_url(path(constant('App\\Http\\Landing\\Controller\\ContactController::ROUTE_LANDING_CONTACT'))) }}">ici</a></p>

{% endblock %}
